.box {
    width: 500px;
    margin: 200px 0;
}
.float {
    position: absolute;
    z-index: 2;
}

.form {
    
}

.contenedor{
    width: 50%;
    height: 50%;
    border: solid;
}
.centrar{
    align-items: center;
    display: flex;
    justify-content: center;
}

.select {
  border: 1px solid #ccc;
  width: 115px;
  overflow: hidden;
  background: #fff url("flecha-abajo.gif") no-repeat 90% center;
}

.select select {
    padding: 5px 8px;
    width: 115%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}